streamlit==1.32.2
transformers==4.44.2
tokenizers==0.19.1
huggingface_hub==0.26.1

pandas
numpy
matplotlib
seaborn
wordcloud
plotly

torch==2.5.1  # supports python 3.10–3.11
scikit-learn
python-dotenv
